body
{
    background-color: aquamarine;
}
h1, .addbook
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addbookbutton
{
    width: 120px;
    font-size: 15px;
    font-weight: bolder;
    height: 40px;
    background-color: cadetblue;
    border-radius: 10px;
}

.books
{
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.content
{
    display: flex;
}

.headings, .values
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: bolder;
    width: 120px;
    height: 120px;
}

.book
{
    border: 2px solid green;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    align-items: center;
}

.read, .clear
{
    width: 100px;
    height: 30px;
    background-color:green;
    border: 0px;
    border-radius: 10px;
}

.form
{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.form.hide
{
    display: none;
}
.entry
{
font-size: 20px;
font-weight: bold;
}

.mainform
{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;
    height: 300px;
    background-color: yellowgreen; 
}

.inputs
{
    display: flex;
    gap:10px;
}

.entry, .value_input
{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 30px;
}

.entry > label
{
    width: 100px;
}
.submit
{
    width: 120px;
    font-size: 15px;
    font-weight: bolder;
    height: 40px;
    background-color: cadetblue;
    border-radius: 10px;
    align-self: center;
}

input
{
    font-size: 15px;
    font-weight: bold;
}

#check
{
    width: 20px;
}

.values > .name , .values > .author
{
    overflow-y: scroll;
}

.name, .author, .pages
{
    height: 40px;
}